RewriteEngine On

RewriteRule ^events=?([0-9]*)$ events.php?eventId=$1    [L,QSA]
RewriteRule ^events=?([^/\.]+)/?$ events.php?$1 [L,QSA]
RewriteRule ^rituals=?([0-9]*)$ rituals.php?ritualId=$1    [L,QSA]
RewriteRule ^rituals=?([^/\.]+)/?$ rituals.php?$1 [L,QSA]
RewriteRule ^cart$ cart.php   [L,QSA]
RewriteRule ^signin$ signin.php    [L,QSA]
RewriteRule ^signup$ signup.php    [L,QSA]
RewriteRule ^myaccount$ myaccount.php [L,QSA]
RewriteRule ^home$ index.php [L,QSA]
RewriteRule ^logout$ logout.php    [L,QSA]
RewriteRule ^$ index.php [L,QSA]
